
$colorSeleccion: #ed8a19;
$colorFondoMenu: #ebba16;

#divCard {
    margin-top: 15px;
    // overflow-y: scroll;

    .card-title {
        font-weight: 900;
    }
}
.card {
    background-color: #ffbb9c;
}
.lbs {
    width: 120px;
}
.inputsUsuario {
    width: 150px;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
}