<div class="container my-5">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="contenido-registro-tab" data-bs-toggle="tab"
                data-bs-target="#contenido-registro" type="button" role="tab" aria-controls="nav-home"
                aria-selected="true"> Registro </button>

            <button class="nav-link" id="contenido-visualizacion-tab" data-bs-toggle="tab"
                data-bs-target="#contenido-visualizacion" type="button" role="tab" aria-controls="nav-profile"
                aria-selected="false" (click)="mostrar()"> Visualizacion </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active p-3" id="contenido-registro" role="tabpanel"
            aria-labelledby="contenido-registro-tab">
            <!-- Registro de rol -->
            <div class="div-registro-rol" *ngIf="opcion == opcionRol">
                <h2>Registro Rol</h2>
                <form id="formRegistrarRol" class="formRegistrar" [formGroup]="rolForm" (ngSubmit)="registrarRol()">
                    <div class="mb-2">
                        <input type="text" formControlName="codigo" class="form-control" placeholder="Codigo">
                        <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                    </div>
                    <button type="submit" class="btn btnRegistrar"> Registrar </button>
                </form>
            </div>

            <!-- Registro de codigo -->
            <div class="div-registro-codigo" *ngIf="opcion == opcionCodigo">
                <h2>Registro Codigo</h2>
                <form id="formRegistrarCodigo" class="formRegistrar" [formGroup]="codigoForm" (ngSubmit)="registrarCodigo()">
                    <div class="mb-2">
                        <select type="number" formControlName="rol" class="form-control">
                            <option value="00"> Selecione una opcion </option>
                            <option value="{{ rol.id }}" *ngFor="let rol of roles"> {{ rol.nombre }} </option>
                            <!-- <option>selected1</option>
                            <option>selected2</option> -->
                        </select>
                        <input type="text" formControlName="prefijo" class="form-control" placeholder="Prefijo"/>
                        <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripcion"/>
                    </div>
                    <button type="submit" class="btn btnRegistrar"> Registrar </button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade p-3" id="contenido-visualizacion" role="tabpanel"
            aria-labelledby="contenido-visualizacion-tab">
            <!-- Visualizacion de roles -->
            <h2 *ngIf="opcion == opcionRol">Visualizacion Roles</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4" *ngIf="opcion == opcionRol">
                <div class="col" *ngFor="let rol of roles">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ rol.nombre }} </h5>
                            <p>
                                <label class="lbs"> Codigo: </label>
                                <input class="inputsMostrar" value="{{ rol.codigo }}" disabled />
                            </p>
                        </div>
                        <btns-accion-codificacion [idParaTratarEliminacion]="rol.id" (idParaTratarEliminacionEmit)="eliminarRolPorId($event)"
                        [idParaTratarModificacion]="rol.id" (idParaTratarModificacionEmit)="modificarRolPorId($event)">
                        </btns-accion-codificacion>
                    </div>
                </div>
            </div>

            <!-- Visualizacion de codigos -->
            <h2 *ngIf="opcion == opcionCodigo">Visualizacion Codigos</h2>
            <div class="row row-cols-1 row-cols-md-6 g-4" *ngIf="opcion == opcionCodigo">
                <div class="col" *ngFor="let codigo of codigos">
                    <div class="card card-codigos">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ codigo.rol.nombre }} </h5>
                            <p>
                                <label class="lbs"> Prefijo: </label>
                                <input class="inputsMostrar" value="{{ codigo.prefijo }}" disabled />
                            </p>
                            <p>
                                <label class="lbs"> Consecutivo: </label>
                                <input class="inputsMostrar" value="{{ codigo.consecutivo }}" disabled />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalRegistroFallidoSiExistencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <modal-general [infoModal]="infoModalRegistroFallidoSiExistencia"></modal-general>
</div>

<div class="modal fade" id="modalRegistroExitoso" tabindex="-1" aria-hidden="true">
    <modal-general [infoModal]="infoModalRegistroExitoso"></modal-general>
</div>

<div class="modal fade" id="modalErrorServidorCaido" tabindex="-1" aria-hidden="true">
    <modal-general [infoModal]="infoModalServidorCaido"></modal-general>
</div>