
.card-footer{
    display: flex;

    .a-editar {
        margin-left: auto;
        margin-right: -2px;
    }
    
    .img-btn-accion {
        width: 18px;
        height: 20px;
        cursor: pointer;
    }
}